---
layout: default
pagename: Blog | Barton
title: A Pretty Average Blog
---
<h1 style="border-bottom: 5px solid #647889;">{{ page.title }}</h1>
<br>
<!--
<ul class="posts">
  {% for post in site.posts %}
    <li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
-->
{% for post in site.posts %}
<div class="post_container" style="width:80%; height:250px; background:#fff; display:table; box-shadow: 2px 2px 10px; margin-left:auto; margin-right:auto;">
    <div class="post_fig" style="display:table-cell; width:250px; height:auto; vertical-align:middle;" >
        <a id="post_ref" href="{{ post.url }}">
            <img id="post_img" src="{{post.front_fig}}" style="min-width:100%;" />
        </a>
    </div>
    <div class="post_summary" style=" display:table-cell; background:#dddddd; vertical-align:middle; padding:0px 10px 0px 10px;">
        <h3 style="border-bottom: 1px solid #647889; color:#444444;">{{ post.title }}</h3>
        <h5 style="color:#444444;">{{ post.date | date_to_string }}</h5>
        <p>{{ post.abstract }}</p>
    </div>
</div>
<br>
{% endfor %}
