<!DOCTYPE html>
<html>

{% include head.html %}

<div class="header">
  <h1 style="color:#dddddd; padding-left:40px; font-size: 3.0em;margin-bottom:-20px;">{{ site.author }}</h1>
  <h2 style="border-bottom: 0px; padding-left:40px;">{{ site.sitename }}</h2>
</div>

<div class="main_page">
  <div class="aside">

    <div class="left_sidebar">

      <div class="dark_bar">
        <h2 style="border-bottom:0px; color:#dddddd;">Menu</h2>
      </div>

      <img src="/figures/CentralPark.jpg" style="min-width:100%;"/>

      <a class="button" href="/">Home</a>
      <a class="button" href="/about">About</a>
      <a class="button" href="/cv">CV</a>
      <a class="button" href="/blog">Blog</a>
      <a class="button" href="/repos">Repositories</a>

    </div>

    <div class="footer">

        <ul>
            <li><a href="mailto:seanlinnaeusbarton@gmail.com"><i class="fa fa-envelope"></i></a></li>
            <li><a> </a></li>
            <li><a href="https://github.com/seanlinnaeusbarton"><i class="fab fa-github"></i></a></li>
            <li><a> </a></li>
            <li><a href="http://scholar.google.com/citations?user=Xsqes6gAAAAJ"><i class="ai ai-google-scholar"></i></a></li>
            <li><a> </a></li>
            <li><a href="https://www.researchgate.net/profile/Sean_Barton7"><i class="ai ai-researchgate"></i></a></li>
            <li><a> </a></li>
            <li><a href="https://arl.academia.edu/SeanLBarton"><i class="ai ai-academia"></i></a></li>
            <li><a> </a></li>
            <li><a href="https://osf.io/wv4je/"><i class="ai ai-osf"></i></a></li>
        </ul>
    </div>
  </div>

  <div class="article">
    <div class="content">
      {{ content }}
    </div>
  </div>

</div>

<div id="preload">
   <img src="/figures/CentralPark.jpg" style="width:100%;"/>
</div>

</html>
